<!DOCTYPE html>
<!-- 
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 2.3.2
Version: 1.4
Author: KeenThemes
Website: http://www.keenthemes.com/preview/?theme=metronic
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <title>Metronic | Admin Dashboard Template</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />


        {% block stylesheets %}

            {# uncomment the following lines to compile SCSS assets with Assetic
                {% stylesheets filter="scssphp" output="css/app.css"
                    "%kernel.root_dir%/Resources/assets/scss/bootstrap.scss"
                    "%kernel.root_dir%/Resources/assets/scss/font-awesome.scss"
                    "%kernel.root_dir%/Resources/assets/css/*.css"
                    "%kernel.root_dir%/Resources/assets/scss/main.scss"
                %}
                    <link rel="stylesheet" href="{{ asset_url }}" />
                {% endstylesheets %}
            #}

            <!-- BEGIN GLOBAL MANDATORY STYLES -->  
            <link rel="stylesheet" href="{{ asset('plugins/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('plugins/bootstrap/css/bootstrap-responsive.min.css') }}">
            <link rel="stylesheet" href="{{ asset('plugins/font-awesome/css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style-metro.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style-responsive.css') }}">
            <link rel="stylesheet" href="{{ asset('css/themes/default.css') }}" id="style_color">
            <link rel="stylesheet" href="{{ asset('plugins/uniform/css/uniform.default.css') }}">
            <link rel="stylesheet" href="{{ asset('plugins/select2/select2_metro.css') }}">
            <!-- END GLOBAL MANDATORY STYLES -->

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body class="page-header-fixed {% block body_id %}{% endblock %}">

        {% block header %}
            <div class="header navbar navbar-inverse navbar-fixed-top">
                <!-- BEGIN TOP NAVIGATION BAR -->
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <!-- BEGIN LOGO -->
                        <a class="brand" href="{{ path('dashboard') }}">
                            &nbsp;&nbsp;&nbsp;&nbsp;IND<span style="color:red">i</span>GENT - <span style="font-size:10px">krlm</span>
                        </a>
                        <!-- END LOGO -->
                        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                        <a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                            <img src="assets/img/menu-toggler.png" alt="" />
                        </a>          
                        <!-- END RESPONSIVE MENU TOGGLER -->            
                        <!-- BEGIN TOP NAVIGATION MENU -->              
                        <ul class="nav pull-right">
                            <!-- BEGIN USER LOGIN DROPDOWN -->
                            <li class="dropdown user">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <img alt="" src="{{ asset('/img/avatar1_small.jpg') }}" />
                                    <span class="username">
                                        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                                            {{ app.user.username }} 
                                        {% endif %}

                                    </span>        
                                    <i class="icon-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('fos_user_profile_show') }}"><i class="icon-user"></i> My Profile</a></li>
                                    <li class="divider"></li>
                                    <li><a href="javascript:;" id="trigger_fullscreen"><i class="icon-move"></i> Full Screen</a></li>
                                    <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-lock"></i> Lock Screen</a></li>
                                    <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-key"></i> Log Out</a></li>
                                </ul>
                            </li>
                            <!-- END USER LOGIN DROPDOWN -->
                        </ul>
                        <!-- END TOP NAVIGATION MENU --> 
                    </div>
                </div>
                <!-- END TOP NAVIGATION BAR -->
            </div>
        {% endblock %}

        {% block body %}
            <div class="page-container">

                <div class="page-sidebar nav-collapse collapse">
                    {% block sidebar %}
                        <!-- BEGIN SIDEBAR MENU -->        
                        <ul class="page-sidebar-menu">
                            <li>
                                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                                <div class="sidebar-toggler hidden-phone"></div>
                                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                            </li>
                            <li>
                                <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                                <form class="sidebar-search">
                                    <div class="input-box">
                                        <a href="javascript:;" class="remove"></a>
                                        <input type="text" placeholder="Search..." />
                                        <input type="button" class="submit" value=" " />
                                    </div>
                                </form>
                                <!-- END RESPONSIVE QUICK SEARCH FORM -->
                            </li>
                            <li class="start {% if app.request.attributes.get('_route') == 'dashboard' %}active{% endif %}">
                                <a href="{{ path('dashboard') }}">
                                    <i class="icon-home"></i> 
                                    <span class="title">Dashboard</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            <li class="{{ app.request.attributes.get('_route') in ['payment','payment_show','payment_edit','payment_new','payment_update'] ? 'active' : '' }}">
                                <a href="{{ path('payment') }}">
                                    <i class="icon-th"></i> 
                                    <span class="title">Payments</span>
                                    <span class="arrow "></span>
                                </a>
                            </li>
                            <li class="{{ app.request.attributes.get('_route') in ['erf','erftype','location','section','erf_edit','erf_new','erf_update','erftype_edit','erftype_new','erftype_update','location_edit','location_new','location_update','section_edit','section_new','section_update'] ? 'active' : '' }}">
                                <a href="javascript:;">
                                    <i class="icon-table"></i> 
                                    <span class="title">ERFs</span>
                                    <span class="arrow "></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="{{ app.request.attributes.get('_route') in ['erf','erf_edit','erf_new','erf_update'] ? 'active' : '' }}">
                                        <a href="{{ path('erf') }}">Manage ERFs</a>
                                    </li>
                                    <li class="{{ app.request.attributes.get('_route') in ['erftype','erftype_edit','erftype_new','erftype_update'] ? 'active' : '' }}" >
                                        <a href="{{ path('erftype') }}">Manage Types</a>
                                    </li>
                                    <li class="{{ app.request.attributes.get('_route') in ['location','location_edit','location_new','location_update'] ? 'active' : '' }}" >
                                        <a href="{{ path('location') }}">Manage Locations</a>
                                    </li>
                                    <li class="{{ app.request.attributes.get('_route') in ['section','section_edit','section_new','section_update'] ? 'active' : '' }}" >
                                        <a href="{{ path('section') }}">Manage Sections</a>
                                    </li>
                                </ul>
                            </li>
                            <li >
                                <a href="javascript:;">
                                    <i class="icon-th"></i> 
                                    <span class="title">Reports</span>
                                    <span class="arrow "></span>
                                </a>
                                <ul class="sub-menu">
                                    <li >
                                        <a href="residential.html">Residential ERFs Reports</a>
                                        <a href="commercial.html">Commercial ERFs Reports</a>
                                        <a href="recreational.html">Recreational ERFs Reports</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <!-- END SIDEBAR MENU -->
                    {% endblock %}
                </div>
                <!-- BEGIN PAGE -->
                <div class="page-content">
                {% block main %}{% endblock %}
            </div>
            <!-- END PAGE -->
        </div>
    {% endblock %}

    {% block footer %}
        <!-- BEGIN FOOTER -->
        <div class="footer">
            <div class="footer-inner">
                <!-- 2013 &copy; Metronic by keenthemes. -->
            </div>
            <div class="footer-tools">
                <span class="go-top">
                    <i class="icon-angle-up"></i>
                </span>
            </div>
        </div>
    {% endblock %}
    <!-- END FOOTER -->


    {% block javascripts %}
        {# uncomment the following lines to combine and minimize JavaScript assets with Assetic
            {% javascripts filter="?jsqueeze" output="js/app.js"
                "%kernel.root_dir%/Resources/assets/js/jquery-2.1.4.js"
                "%kernel.root_dir%/Resources/assets/js/bootstrap-3.3.4.js"
                "%kernel.root_dir%/Resources/assets/js/highlight.pack.js" %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        #}

        <!-- BEGIN CORE PLUGINS --> 
        <script src="{{ asset('plugins/jquery-1.10.1.min.js') }}"></script>
        <script src="{{ asset('plugins/jquery-migrate-1.2.1.min.js') }}"></script>
        <script src="{{ asset('plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js') }}"></script>
        <script src="{{ asset('plugins/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js') }}"></script>
        <!--[if lt IE 9]>
        <script src="assets/plugins/excanvas.min.js"></script>
        <script src="assets/plugins/respond.min.js"></script>  
        <![endif]-->   
        <script src="{{ asset('plugins/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>
        <script src="{{ asset('plugins/jquery.blockui.min.js') }}"></script>
        <script src="{{ asset('plugins/jquery.cookie.min.js') }}"></script>
        <script src="{{ asset('plugins/uniform/jquery.uniform.min.js') }}"></script>
        <script src="{{ asset('plugins/select2/select2.min.js') }}"></script>

        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ asset('js/fos_js_routes.js') }}"></script>
        <!-- END CORE PLUGINS -->

        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="{{ asset('js/app.js') }}"></script>
        <script src="{{ asset('js/form-components.js') }}"></script>

        <script src="{{ asset('js/payment.js') }}"></script>

        <script>
            jQuery(document).ready(function () {
                App.init();
                FormComponents.init();
                Payment.init();
            });
        </script>

    {% endblock %}

</body>
</html>