<!DOCTYPE html>
<!-- 
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 2.3.2
Version: 1.4
Author: KeenThemes
Website: http://www.keenthemes.com/preview/?theme=metronic
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <title>Admin {% block title %}{% endblock %}</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />


        {% block stylesheets %}

            {# uncomment the following lines to compile SCSS assets with Assetic
                {% stylesheets filter="scssphp" output="css/app.css"
                    "%kernel.root_dir%/Resources/assets/scss/bootstrap.scss"
                    "%kernel.root_dir%/Resources/assets/scss/font-awesome.scss"
                    "%kernel.root_dir%/Resources/assets/css/*.css"
                    "%kernel.root_dir%/Resources/assets/scss/main.scss"
                %}
                    <link rel="stylesheet" href="{{ asset_url }}" />
                {% endstylesheets %}
            #}

            <!-- BEGIN GLOBAL MANDATORY STYLES -->  
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
            <link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.min.css') }}" rel="stylesheet" type="text/css">
            <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}" rel="stylesheet" type="text/css">
            <link rel="stylesheet" href="{{ asset('css/style-metro.css') }}" rel="stylesheet" type="text/css">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css">
            <link rel="stylesheet" href="{{ asset('css/style-responsive.css') }}" rel="stylesheet" type="text/css">
            <link rel="stylesheet" href="{{ asset('css/themes/default.css') }}" rel="stylesheet"  type="text/css" id="style_color">
            <link rel="stylesheet" href="{{ asset('css/uniform.default.css') }}" rel="stylesheet" type="text/css">
            {#            <link rel="stylesheet" href="{{ asset('css/select2_metro.css') }}" rel="stylesheet" type="text/css">#}
            <link rel="stylesheet" href="{{ asset('css/select2.css') }}" rel="stylesheet" type="text/css">
            <!-- END GLOBAL MANDATORY STYLES -->

            <link rel="stylesheet" href="{{ asset('css/DT_bootstrap.css') }}" rel="stylesheet" type="text/css" />
            <link rel="stylesheet" href="{{ asset('css/bootstrap-modal.css') }}" rel="stylesheet" type="text/css"/>
            <link rel="stylesheet" href="{{ asset('css/pages/tasks.css') }}" rel="stylesheet" type="text/css"/>
            <link rel="stylesheet" href="{{ asset('css/pages/search.css') }}" rel="stylesheet" type="text/css"/>


        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body class="page-header-fixed {% block body_id %}{% endblock %}">

        {% block header %}
            <div class="header navbar navbar-inverse navbar-fixed-top">
                <!-- BEGIN TOP NAVIGATION BAR -->
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <!-- BEGIN LOGO -->
                        <a class="brand" href="{{ path('dashboard') }}">
                            &nbsp;&nbsp;&nbsp;&nbsp;IND<span style="color:red">i</span>GENT - <span style="font-size:14px;color:red">Beta 1</span>
                        </a>
                        <!-- END LOGO -->
                        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                        <a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                            <img src="{{ asset('img/menu-toggler.png') }}" alt="" />
                        </a>          
                        <!-- END RESPONSIVE MENU TOGGLER -->            
                        <!-- BEGIN TOP NAVIGATION MENU -->              
                        <ul class="nav pull-right">
                            <!-- BEGIN USER LOGIN DROPDOWN -->
                            <li class="dropdown user">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <img alt="" src="{{ asset('/img/avatar1_small.jpg') }}" />
                                    <span class="username">
                                        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                                            {{ app.user.username }} 
                                        {% endif %}

                                    </span>        
                                    <i class="icon-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('fos_user_profile_show') }}"><i class="icon-user"></i> My Profile</a></li>
                                    <li class="divider"></li>
                                    <li><a href="javascript:;" id="trigger_fullscreen"><i class="icon-move"></i> Full Screen</a></li>
                                    <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-lock"></i> Lock Screen</a></li>
                                    <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-key"></i> Log Out</a></li>
                                </ul>
                            </li>
                            <!-- END USER LOGIN DROPDOWN -->
                        </ul>
                        <!-- END TOP NAVIGATION MENU --> 
                    </div>
                </div>
                <!-- END TOP NAVIGATION BAR -->
            </div>
        {% endblock %}

        {% block body %}
            <div class="page-container row-fluid">

                <div class="page-sidebar nav-collapse collapse">
                    {% block sidebar %}
                        <!-- BEGIN SIDEBAR MENU -->        
                        <ul class="page-sidebar-menu">
                            <li>
                                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                                <div class="sidebar-toggler hidden-phone"></div>
                                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                            </li>
                            <li>
                                <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                                <form action="{{ path('search') }}" method="post" class="sidebar-search">
                                    <div class="input-box">
                                        <a href="javascript:;" class="remove"></a>
                                        <input type="text" name='search' placeholder="Search Erf..." />
                                        <input type="button" class="submit" value=" " />
                                    </div>
                                </form>
                                <!-- END RESPONSIVE QUICK SEARCH FORM -->
                            </li>
                           
                            <li class="start {% if app.request.attributes.get('_route') == 'dashboard' %}active{% endif %}">
                                <a href="{{ path('dashboard') }}">
                                    <i class="icon-home"></i> 
                                    <span class="title">Dashboard</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            <li class="{{ app.request.attributes.get('_route') in ['payment','payment_show','payment_edit','payment_new','payment_update'] ? 'active' : '' }}">
                                <a href="{{ path('payment') }}">
                                    <i class="icon-money"></i> 
                                    <span class="title">Payments</span>
                                    <span class="{{ app.request.attributes.get('_route') in ['payment','payment_show','payment_edit','payment_new','payment_update'] ? 'selected' : '' }}"></span>
                                </a>
                            </li>
                            
                            {% if app.user and is_granted('ROLE_ADMIN') %}
                            <li class="{{ app.request.attributes.get('_route') in ['erf','erf_show','erf_edit','erf_new','erf_update','erftype','erftype_show','erftype_edit','erftype_new','erftype_update','location','location_show','location_edit','location_new','location_update','section','section_show','section_edit','section_new','section_update'] ? 'active' : '' }}">
                                <a href="javascript:;">
                                    <i class="icon-table"></i> 
                                    <span class="title">ERF Management</span>
                                    <span class="{{ app.request.attributes.get('_route') in ['erf','erf_show','erf_edit','erf_new','erf_update','erftype','erftype_show','erftype_edit','erftype_new','erftype_update','location','location_show','location_edit','location_new','location_update','section','section_show','section_edit','section_new','section_update'] ? 'selected' : '' }}"></span>
                                    <span class="arrow {{ app.request.attributes.get('_route') in ['erf','erf_show','erf_edit','erf_new','erf_update','erftype','erftype_show','erftype_edit','erftype_new','erftype_update','location','location_show','location_edit','location_new','location_update','section','section_show','section_edit','section_new','section_update'] ? 'open' : '' }}"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="{{ app.request.attributes.get('_route') in ['erf','erf_show','erf_edit','erf_new','erf_update'] ? 'active' : '' }}">
                                        <a href="{{ path('erf') }}">Manage ERFs</a>
                                    </li>
                                    <li class="{{ app.request.attributes.get('_route') in ['erftype','erftype_show','erftype_edit','erftype_new','erftype_update'] ? 'active' : '' }}" >
                                        <a href="{{ path('erftype') }}">Manage Types</a>
                                    </li>
                                    <li class="{{ app.request.attributes.get('_route') in ['location','location_show','location_edit','location_new','location_update'] ? 'active' : '' }}" >
                                        <a href="{{ path('location') }}">Manage Locations</a>
                                    </li>
                                    <li class="{{ app.request.attributes.get('_route') in ['section','section_show', 'section_edit','section_new','section_update'] ? 'active' : '' }}" >
                                        <a href="{{ path('section') }}">Manage Sections</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="{{ app.request.attributes.get('_route') in ['owner','owner_edit','owner_new','owner_show','owner_update'] ? 'active' : '' }}">
                                <a href="javascript:;">
                                    <i class="icon-table"></i> 
                                    <span class="title">Owners</span>
                                    <span class="{{ app.request.attributes.get('_route') in ['owner','owner_edit','owner_new','owner_show','owner_update'] ? 'selected' : '' }}"></span>
                                    <span class="arrow {{ app.request.attributes.get('_route') in ['owner','owner_edit','owner_new','owner_show','owner_update'] ? 'open' : '' }}"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="{{ app.request.attributes.get('_route') in ['owner_new'] ? 'active' : '' }}" >
                                        <a href="{{ path('owner_new') }}">Add Owner</a>
                                    </li>
                                    <li class="{{ app.request.attributes.get('_route') in ['owner', 'owner_show'] ? 'active' : '' }}" >
                                        <a href="{{ path('owner') }}">List</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="{{ app.request.attributes.get('_route') in ['user','user_new', 'user_edit', 'user_update', 'user_show'] ? 'active' : '' }}">
                                <a href="javascript:;">
                                    <i class="icon-user"></i> 
                                    <span class="title">User Management</span>
                                    <span class="{{ app.request.attributes.get('_route') in ['user','user_new', 'user_edit', 'user_update', 'user_show'] ? 'selected' : '' }}"></span>
                                    <span class="arrow {{ app.request.attributes.get('_route') in ['user','user_new', 'user_edit', 'user_update', 'user_show'] ? 'open' : '' }}"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="{{ app.request.attributes.get('_route') in ['user'] ? 'active' : '' }}">
                                        <a href="{{ path('user') }}">Users List</a>
                                    </li>
                                    <li class="{{ app.request.attributes.get('_route') in ['user_new'] ? 'active' : '' }}" >
                                        <a href="{{ path('user_new') }}">Add User</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="{% if app.request.attributes.get('_route') == 'report' %}active{% endif %}">
                                <a href="#">
                                    <i class="icon-th"></i> 
                                    <span class="title">Reports (Coming Soon!)</span>
                                    <span class="arrow "></span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="{{ path('report_erf') }}">Erf Report</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('report_section') }}">Section Report</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('report_location') }}">Location Report</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="{{ app.request.attributes.get('_route') in ['rate', 'rate_show','rate_edit','rate_update', 'company','company_show','company_edit','company_update','paymentallocation','paymentallocation_show','paymentallocation_edit','paymentallocation_update'] ? 'active' : '' }}">
                                <a href="javascript:;">
                                    <i class="icon-cog"></i> 
                                    <span class="title">Settings</span>
                                    <span class="{{ app.request.attributes.get('_route') in ['rate', 'rate_show','rate_edit','rate_update', 'company','company_show','company_edit','company_update','paymentallocation','paymentallocation_show','paymentallocation_edit','paymentallocation_update'] ? 'selected' : '' }}"></span>
                                    <span class="arrow {{ app.request.attributes.get('_route') in ['rate', 'rate_show','rate_edit','rate_update', 'company','company_show','company_edit','company_update','paymentallocation','paymentallocation_show','paymentallocation_edit','paymentallocation_update'] ? 'open' : '' }}"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="{{ app.request.attributes.get('_route') in ['rate','rate_show','rate_edit','rate_update'] ? 'active' : '' }}">
                                        <a href="{{ path('rate') }}">Rate</a>
                                    </li>
                                    <li class="{{ app.request.attributes.get('_route') in ['company','company_show','company_edit','company_update'] ? 'active' : '' }}">
                                        <a href="{{ path('company') }}">Municipality</a>
                                    </li>
                                    <li class="{{ app.request.attributes.get('_route') in ['paymentallocation','paymentallocation_show','paymentallocation_edit','paymentallocation_update'] ? 'active' : '' }}">
                                        <a href="{{ path('paymentallocation') }}">Allocations</a>
                                    </li>
                                </ul>
                            </li>
                            {% endif %}
                        </ul>
                        <!-- END SIDEBAR MENU -->
                    {% endblock %}
                </div>
                <!-- BEGIN PAGE -->
                <div class="page-content">
                {% block main %}{% endblock %}
            </div>
            <!-- END PAGE -->
        </div>
    {% endblock %}

    {% block footer %}
        <!-- BEGIN FOOTER -->
        <div class="footer">
            <div class="footer-inner">
                <!-- 2013 &copy; Metronic by keenthemes. -->
            </div>
            <div class="footer-tools">
                <span class="go-top">
                    <i class="icon-angle-up"></i>
                </span>
            </div>
        </div>
    {% endblock %}
    <!-- END FOOTER -->


    {% block javascripts %}
        {# uncomment the following lines to combine and minimize JavaScript assets with Assetic
            {% javascripts filter="?jsqueeze" output="js/app.js"
                "%kernel.root_dir%/Resources/assets/js/jquery-2.1.4.js"
                "%kernel.root_dir%/Resources/assets/js/bootstrap-3.3.4.js"
                "%kernel.root_dir%/Resources/assets/js/highlight.pack.js" %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        #}

        <!-- BEGIN CORE PLUGINS --> 
        <script src="{{ asset('js/jquery-1.10.1.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/jquery-migrate-1.2.1.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/jquery-ui-1.10.1.custom.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"type="text/javascript"></script>
        <script src="{{ asset('js/twitter-bootstrap-hover-dropdown.min.js') }}" type="text/javascript"></script>
        <!--[if lt IE 9]>
        <script src="assets/plugins/excanvas.min.js"></script>
        <script src="assets/plugins/respond.min.js"></script>  
        <![endif]-->   
        <script src="{{ asset('js/jquery.slimscroll.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/jquery.blockui.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/jquery.cookie.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/jquery.uniform.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/select2.js') }}" type="text/javascript"></script>

        <!-- END CORE PLUGINS -->
        <script src="{{ asset('js/jquery.dataTables.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/DT_bootstrap.js') }}" type="text/javascript" ></script>

        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/fos_js_routes.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/jQuery.print.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/app.js') }}" type="text/javascript"></script>

        <!-- BEGIN PAGE LEVEL SCRIPTS -->

    {% endblock %}

</body>
</html>