{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('plugins/flot/jquery.flot.js') }}" ></script>
    <script src="{{ asset('plugins/flot/jquery.flot.categories.js') }}" ></script>
    <script src="{{ asset('plugins/flot/jquery.flot.pie.js') }}" ></script>
    <script src="{{ asset('plugins/flot/jquery.flot.resize.js') }}"></script>
    <script src="{{ asset('js/index.js') }}"></script>
    <script>
        var barGraphData = {{ entities|raw }};
                var pieGraphData = {{ entities1|raw }};
                jQuery(document).ready(function () {
            App.init();
            Index.initCharts();
            Index.init();
        });
    </script>    
{% endblock %}

{% block main -%}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Dashboard <small>statistics and more</small>
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="index.html">Home</a>
                        <i class="icon-angle-right"></i>
                    </li>
                    <li><a href="#">Dashboard</a></li>
                    <li class="pull-right no-text-shadow">
                        <div id="dashboard-report-range" class="dashboard-date-range tooltips no-tooltip-on-touch-device responsive" data-tablet="" data-desktop="tooltips" data-placement="top" data-original-title="Change dashboard date range">
                            <i class="icon-calendar"></i>
                            <span></span>
                            <i class="icon-angle-down"></i>
                        </div>
                    </li>
                </ul>
                <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
        </div>

        <!-- END PAGE HEADER-->
        <div id="dashboard">
            <div class="clearfix"></div>
            <div class="row-fluid">
                <div class="span6">
                    <!-- BEGIN PORTLET-->
                    <div class="portlet solid bordered light-grey">
                        <div class="portlet-title">
                            <div class="caption"><i class="icon-bar-chart"></i>Payments Pie Chart</div>
                        </div>
                        <div class="portlet-body">
                            <div id="site_statistics_loading">
                                <img src="{{ asset('img/loading.gif') }}" alt="loading" />
                            </div>
                            <div id="site_statistics_content" class="hide">
                                <div id="site_statistics" class="chart"></div>
                            </div>
                        </div>
                    </div>
                    <!-- END PORTLET-->
                </div>
                <div class="span6">
                    <!-- BEGIN PORTLET-->
                    <div class="portlet solid light-grey bordered">
                        <div class="portlet-title">
                            <div class="caption"><i class="icon-bullhorn"></i>Payments Bar Chart</div>
                        </div>
                        <div class="portlet-body">
                            <div id="site_activities_loading">
                                <img src="{{ asset('img/loading.gif') }}" alt="loading" />
                            </div>
                            <div id="site_activities_content" class="hide">
                                <div id="site_activities" style="height:300px;"></div>
                            </div>
                        </div>
                    </div>
                    <!-- END PORTLET-->
                </div>

            </div>
            <div class="clearfix"></div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption"><i class="icon-bell"></i>Recent Activities</div>
                        </div>
                        <div class="portlet-body">
                            <div class="scroller" style="height:300px" data-always-visible="1" data-rail-visible="0">
                                <ul class="feeds">
                                    {% for recent in recents %}
                                        <li>
                                            <a href="#">
                                                <div class="col1">
                                                    <div class="cont">
                                                        <div class="cont-col1">
                                                            <div class="label label-success">                        
                                                                <i class="icon-check"></i>
                                                            </div>
                                                        </div>
                                                        <div class="cont-col2">
                                                            <div class="desc">
                                                                Payment received - Stand no {{recent.erf.erfNo}}  
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col2">
                                                    <div class="date" style='font-size: 10px'>{{ recent.created|time_ago_in_words }}</div>
                                                </div>
                                            </a>
                                        </li>
                                    {% endfor %}   
                                </ul>
                            </div>
                        <div class="scroller-footer">
                            <span class="pull-right">
                                <a href="#">See All Tasks <i class="m-icon-swapright m-icon-gray"></i></a> &nbsp;
                            </span>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="portlet box green tasks-widget">
                        <div class="portlet-title">
                            <div class="caption"><i class="icon-check"></i>Tasks - (Coming Soon!)</div>
                            <div class="tools">
                                <a href="#portlet-config" data-toggle="modal" class="config"></a>
                                <a href="" class="reload"></a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="task-content">
                                <div class="scroller" style="height:305px" data-always-visible="1" data-rail-visible1="1">
                                    <!-- START TASK LIST -->
                                    <ul class="task-list unstyled">
                                        <li>
                                            <div class="task-checkbox">
                                                <input type="checkbox" class="liChild" value="" style="">                                       
                                            </div>
                                            <div class="task-title">
                                                <span class="task-title-sp">Allocate stands</span>
                                                <span class="task-bell"><i class="icon-bell"></i></span>
                                            </div>
                                            <div class="task-config">
                                                <div class="task-config-btn btn-group">
                                                    <a class="btn mini blue" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">More <i class="icon-angle-down"></i></a>
                                                    <ul class="dropdown-menu pull-right">
                                                        <li><a href="#"><i class="icon-ok"></i> Complete</a></li>
                                                        <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
                                                        <li><a href="#"><i class="icon-trash"></i> Cancel</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="task-checkbox">
                                                <input type="checkbox" class="liChild" value="" style="">                                       
                                            </div>
                                            <div class="task-title">
                                                <span class="task-title-sp">Compile weekly reports</span>
                                            </div>
                                            <div class="task-config">
                                                <div class="task-config-btn btn-group">
                                                    <a class="btn mini blue" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">More <i class="icon-angle-down"></i></a>
                                                    <ul class="dropdown-menu pull-right">
                                                        <li><a href="#"><i class="icon-ok"></i> Complete</a></li>
                                                        <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
                                                        <li><a href="#"><i class="icon-trash"></i> Cancel</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="task-checkbox">
                                                <input type="checkbox" class="liChild" value="" style="">                                       
                                            </div>
                                            <div class="task-title">
                                                <span class="task-title-sp">Call stand owner</span>
                                                <span class="task-bell"><i class="icon-bell"></i></span>
                                            </div>
                                            <div class="task-config">
                                                <div class="task-config-btn btn-group">
                                                    <a class="btn mini blue" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">More <i class="icon-angle-down"></i></a>
                                                    <ul class="dropdown-menu pull-right">
                                                        <li><a href="#"><i class="icon-ok"></i> Complete</a></li>
                                                        <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
                                                        <li><a href="#"><i class="icon-trash"></i> Cancel</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="task-checkbox">
                                                <input type="checkbox" class="liChild" value="" style="">                                       
                                            </div>
                                            <div class="task-title">
                                                <span class="task-title-sp">Resolve stand dispute issue</span>
                                            </div>
                                            <div class="task-config">
                                                <div class="task-config-btn btn-group">
                                                    <a class="btn mini blue" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">More <i class="icon-angle-down"></i></a>
                                                    <ul class="dropdown-menu pull-right">
                                                        <li><a href="#"><i class="icon-ok"></i> Complete</a></li>
                                                        <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
                                                        <li><a href="#"><i class="icon-trash"></i> Cancel</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="task-checkbox">
                                                <input type="checkbox" class="liChild" value="" style="">                                       
                                            </div>
                                            <div class="task-title">
                                                <span class="task-title-sp">Update Stands info</span>
                                            </div>
                                            <div class="task-config">
                                                <div class="task-config-btn btn-group">
                                                    <a class="btn mini blue" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">More <i class="icon-angle-down"></i></a>
                                                    <ul class="dropdown-menu pull-right">
                                                        <li><a href="#"><i class="icon-ok"></i> Complete</a></li>
                                                        <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
                                                        <li><a href="#"><i class="icon-trash"></i> Cancel</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <!-- END START TASK LIST -->
                                </div>
                            </div>
                            <div class="task-footer">
                                <span class="pull-right">
                                    <a href="#">See All Tasks <i class="m-icon-swapright m-icon-gray"></i></a> &nbsp;
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
