<div class="portlet-body form">
    {{ form_start( form, {'attr': {'novalidate': 'novalidate'}} ) }}    
    {% if errors|length %}
        <div class="alert alert-error">
            <button class="close" data-dismiss="alert"></button>
            <strong>Error!</strong> Please fix all form errors and submit again.
            {{ form_errors(form) }}
        </div>
    {% endif %}
    <div class="row-fluid">
        <div class="span6 ">
            <div class="control-group">
                <label class="control-label">Name</label>
                <div class="controls">
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name, { 'attr': {'class': 'm-wrap span12 placeholder-no-fix'} }) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6 ">
            <div class="control-group">
                <label class="control-label">Location</label>
                <div class="controls">
                    {{ form_widget(form.location, { 'attr': {'class': 'm-wrap span12 placeholder-no-fix'} }) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6 ">
            <div class="control-group">
                <label class="control-label">X-Coord</label>
                <div class="controls">
                    {{ form_widget(form.xCoord, { 'attr': {'class': 'm-wrap span12 placeholder-no-fix'} }) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6 ">
            <div class="control-group">
                <label class="control-label">Y-Coord</label>
                <div class="controls">
                    {{ form_widget(form.yCoord, { 'attr': {'class': 'm-wrap span12 placeholder-no-fix'} }) }}
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions">
        {{ form_widget(form.submit, { 'attr': {'class': 'btn blue'} }) }}
        <a href="{{ path('section') }}" class="btn">Cancel</a>
    </div>
    {{form_end(form)}}
</div>