{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
{#    {{ form_widget(form._token) }}
    <label class="control-label">First Name</label>
    {{ form_widget(form.first_name, { 'attr': {'class': ''} }) }}
    <label class="control-label">Last Name</label>
    {{ form_widget(form.last_name, { 'attr': {'class': ''} }) }}
    <label class="control-label">Mobile</label>
    {{ form_widget(form.mobile, { 'attr': {'class': ''} }) }}
    <label class="control-label">Telephone</label>
    {{ form_widget(form.telephone, { 'attr': {'class': ''} }) }}#}

                                                        {{ form_widget(form) }}

    <div class="submit-btn">
        <button type="submit" id='updateMyProfile' >Save Changes</button> 
        <a href="#" class="btn">Cancel</a>
    </div>
</form>
