<div class="portlet-body form">
    {{ form_start( form, {'attr': {'novalidate': 'novalidate'}} ) }}        

    {{ form_errors(form) }}

    <h3 class="form-section">Erf Info</h3>              

    <div class="row-fluid">
        <div class="span6 ">
            <div class="control-group">
                <label class="control-label">Search Erf</label>
                <div class="controls">
                    {{ form_widget(form.erf, { 'attr': {'class': 'm-wrap span12 select2'} }) }}
                </div>
            </div>
        </div>
        <div class="span6 ">
            <div class="control-group">
                <label class="control-label">Address</label>
                <div class="controls">
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6 ">
            <div class="control-group">
                <label class="control-label">Municipality</label>
                <div class="controls">
                    {{ form_widget(form.company, { 'attr': {'class': 'm-wrap span12 select2'} }) }}
                </div>
            </div>
        </div>
    </div>
    <h3 class="form-section">Payment Info</h3>            
    <div class="row-fluid">
        <div class="span6 ">
            <div class="control-group">
                <label class="control-label">Installment</label>
                <div class="controls">
                    <div class="input-prepend input-append">
                        <span class="add-on">ZAR</span>{{ form_widget(form.amountDue, { 'attr': {'class': 'm-wrap span12 placeholder-no-fix','readonly':'readonly'} }) }}<span class="add-on">.00</span>
                    </div>

                </div>
            </div>
        </div>
        <div class="span6 ">
            <div class="control-group">
                <label class="control-label">Payment Received</label>
                <div class="controls">
                    <div class="input-prepend input-append">
                        <span class="add-on">ZAR</span>{{ form_widget(form.amountReceived, { 'attr': {'class': 'm-wrap span12 placeholder-no-fix'} }) }}<span class="add-on">.00</span>
                    </div>
                </div>
            </div>
        </div>        
    </div>

    <div class="row-fluid">
        <div class="span6 ">
            <div class="control-group">
                <label class="control-label">Payment Outstanding</label>
                <div class="controls">
                    <div class="input-prepend input-append">
                        <span class="add-on">ZAR</span>{{ form_widget(form.amountOutstanding, { 'attr': {'class': 'm-wrap span12 placeholder-no-fix','readonly':'readonly'} }) }}<span class="add-on">.00</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="span6 ">
            <div class="control-group">
                <label class="control-label">Balance Due</label>
                <div class="controls">
                    <div class="input-prepend input-append">
                        <span class="add-on">ZAR</span>{{ form_widget(form.totalOutstanding, { 'attr': {'class': 'm-wrap span12 placeholder-no-fix','readonly':'readonly'} }) }}<span class="add-on">.00</span>
                    </div>
                </div>
            </div>
        </div>        
    </div>

    <div class="row-fluid">
        <div class="span6 ">

        </div>
        <div class="span6 ">
            <div class="control-group">
                <label class="control-label">Payment Method</label>
                <div class="controls">
                    {{ form_widget(form.paymentMethod, { 'attr': {'class': 'm-wrap placeholder-no-fix'} }) }}
                </div>
            </div>
        </div>        
    </div>

    {#                                    <h3 class="form-section">Payment Received From</h3>                                                #}

    <div class="row-fluid">
        <div class="span6 ">
            <div class="control-group">
                <label class="control-label">Paid By</label>
                <div class="controls">
                    {{ form_widget(form.payedBy, { 'attr': {'class': 'm-wrap span12 placeholder-no-fix', 'placeholder':'Type Name'} }) }}
                </div>
            </div>
        </div>
        <div class="span6 ">
            <div class="control-group">
                <label class="control-label">Contact</label>
                <div class="controls">
                    {{ form_widget(form.payedByPhone, { 'attr': {'class': 'm-wrap span12 placeholder-no-fix', 'placeholder':'Type Contact Number'} }) }}
                </div>
            </div>
        </div>        
    </div>
    <div class="row-fluid">
        <div class="span6 ">
            <div class="control-group">
                <label class="control-label">Received By</label>
                <div class="controls">
                    {{ form_widget(form.staffEmail, { 'attr': {'class': 'm-wrap span12 placeholder-no-fix', 'readonly':'readonly'} }) }}
                </div>
            </div>
        </div>       
        <div class="span6 ">
            <div class="control-group">
                <label class="control-label">Date</label>
                <div class="controls">
                    {{ form_widget(form.created, { 'attr': {'class': 'm-wrap span12 placeholder-no-fix', 'readonly':'readonly'} }) }}
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions">
        {#<button type="submit" class="btn blue"><i class="icon-ok"></i> Save</button>#}
        {{ form_widget(form.submit, { 'attr': {'class': 'btn blue', 'label': '<i class="icon-ok"></i> Save'} }) }}
        <a href="{{ path('payment') }}" class="btn">Cancel</a>
    </div>
    {{form_end(form)}}
</div>